html, body {
    background-color: bisque;
    height: 100%;
    margin:0;
    padding: 0;
}

.min-h-100 {
    border: 5px #339933 solid;
    min-height: 100%;
    margin-bottom: -50px;
}

.push {
    height: 50px;
}